/*this is a list of color codes used in this stylesheet*/
/*#737488*/
/*#2A2A2A*/
/*#9898b0*/
/*#5b5c6e*/
/*#48adcc*/

@font-face {
    font-family: "font";
    src: url(/mywebsite/fonts/astron_boy.ttf) format("truetype");
    /*src: url(/mywebsite/fonts/astron_boy.otf) format("opentype");*/
    font-weight: normal;
}
body {
    background-color: #2A2A2A;
    color: #9898b0;
}
.remove-margin-bottom{
    margin-bottom: 0px !important;
}
.header {
    background-color: #5b5c6e;
    font-size: 32px;
    position: absolute;
    width:  100%;
    z-index: 11;
}
.header h2 {
    margin: 0px auto;
    width: fit-content;
    padding: 16px 16px;
    color: #48adcc;
    font-size: 70px;
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
.posts{
    margin: 20px auto;
}
.post{
    position: relative;
    max-width: 800px;
    margin: 0px auto 100px auto;

}
.post a{
    position: absolute;
    right: 0px;
}
.post h2{
    background-color: #5b5c6e;
    text-align: center;
    padding-bottom: 10px;
    border-radius: 10px;
}
.post div img{
    width: 100%;
}
.post form{
    margin-bottom: 150px;
}
.post-form label{
    font-size: 35px;
}

input, textarea{
    color: white;
}
nav{
    background-color: #9898b0;
}
nav div ul li{
    background-color: #5b5c6e;
    font-weight: bold;
}

nav div ul li a{
    color: #9898b0;
}

nav .brand-logo.right {
    right: 5.5rem;
}


.custom-margin{
    margin-top: 115px;
}
.blink_me {
    animation: blinker 2s linear infinite;
    font-family: "font", Verdana, Tahoma;
    font-style: italic;
}

footer {
    background-color: #5b5c6e;
    height: 140px;
}

.copyright{
    height: 140px;
    padding: 59px 0px !important;
}

.homepage{
    margin-top: 109px;
    position: relative;
}
.background-img{
    float: left;
}
.homepage-content{
    position: absolute;
    width: 70%;
    top: 25%;
}

.homepage-content p{
    font-size: 4.5vw;
    font-family: "font", Verdana, Tahoma;
}
.aboutme{
    margin-top: 109px;
}
.my-card{
    margin-top: 10pc;
    background-color: #5b5c6e;
}
.my-card-bottom{
    color: #5b5c6e;
    background-color: #9898b0;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}



/*==========  Mobile First Method  ==========*/
/* Custom, iPhone */ 
@media only screen and (min-width : 320px) {
    /*.background{*/
		/*background-color: #737488;*/

	/*}*/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	/*.background{
        background-color: #737488;
    }*/
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    /*.background{
        background-color: #737488;
    }*/
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    /*.background{
        background-color: #737488;
    }*/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    /*.background{
        background-color: #737488;
    }*/
}

/*.brand-logo{*/
    /*width: 300px;*/
    /*background: repeating-linear-gradient(*/
            /*-50deg,*/
            /*#48adcc,*/
            /*#48adcc 10px,*/
            /*#9898b0 10px,*/
            /*#9898b0 40px*/
    /*);*/
/*}*/














/*.jumbotron{*/
    /*margin-bottom: 0px;*/
/*}*/
/*.header{*/
    /*background-color: #2A2A2A;*/
    /*overflow: hidden;*/
/*}*/
/*.togglenav{*/
    /*display: block;*/
    /*margin: 0px auto;*/
    /*height: 50px;*/
    /*width: 100px;*/
    /*!*background: url(../public/images/togglenav.png) 50% 50% no-repeat;*!*/
    /*font-size: 9vw;*/
/*}*/
/*.togglenav a span{*/
    /*color: #48adcc;*/
/*}*/
/*.title h1{*/
    /*margin-top: 10px;*/
/*}*/
.diagonal-lines{
    position: absolute;
    right: 147px;
}

.diagonal-lines div:nth-child(1):after{
    content: "";
    position: absolute;
    border-top: 20px solid #48adcc;
    width: 105px;
    transform: rotate(120deg);
    transform-origin: 14% 19%;
}
.diagonal-lines div:nth-child(2):after{
    content: "";
    position: absolute;
    border-top: 15px solid #48adcc;
    width: 105px;
    transform: rotate(120deg);
    transform-origin: 35% 75%;
}
.diagonal-lines div:nth-child(3):after{
    content: "";
    position: absolute;
    border-top: 10px solid #48adcc;
    width: 105px;
    transform: rotate(120deg);
    transform-origin: 41% 200%;
}
/*.sidebar{*/
    /*position: absolute;*/
    /*z-index: 888;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-color: rgba(42, 42, 42, 0.95);*/
    /*-webkit-transition: all 0.3s ease;*/
    /*transition: all 0.3s ease;*/
    /*left: auto !important;*/
    /*-webkit-transform: translateX(-100%);*/
    /*transform: translateX(-100%);*/
/*}*/
/*.open{*/
    /*left: auto !important;*/
    /*-webkit-transform: translateX(0px);*/
    /*transform: translateX(0px);*/
/*}*/
/*nav{*/
    /*padding: 16px;*/
/*}*/
/*nav a{*/
    /*text-decoration: none !important;*/
    /*padding: 16px;*/
    /*font-size: 60px;*/
    /*display: block;*/
    /*text-align: center;*/
/*}*/
/*.content{*/
    /*padding: 20px;*/
    /*margin: 20px 0px 20px 0px;*/
    /*background-color: #2A2A2A;*/
/*}*/
/*.content h1{*/
    /*margin-top: 0px*/
/*}*/



























